@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import '@extension/ui/global.css';

body {
  width: 410px;
  height: auto;
  margin: 0;
  position: relative;
}
